<template name="match">
	<div class="row match {{status}}" data-id="{{id}}">
		<div class="col-md-12 startTime">
			<span class="text-muted">{{getStartTime}}</span>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6 team homeTeam">
			{{#if isPreGame}}
				<input name="homeScore" type="number" class="teamScore homeScore" min="0" max="9" value="{{getPredictionHomeScore}}">
			{{else}}
				<span class="teamScore">{{homeScore}}</span>
			{{/if}}

			<span class="teamFlag flag-icon-round flag-icon-background flag-icon-{{getCountryCode homeTeam}} flag-icon-squared"></span>
			<h3 class="teamName hidden-xs">{{homeTeam}}</h3>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6 team awayTeam">
			{{#if isPreGame}}
				<input name="awayScore" type="number" class="teamScore awayScore" min="0" max="9" value="{{getPredictionAwayScore}}">
			{{else}}
				<span class="teamScore">{{awayScore}}</span>
			{{/if}}
			
			<span class="teamFlag flag-icon-round flag-icon-background flag-icon-{{getCountryCode awayTeam}} flag-icon-squared"></span>
			<h3 class="teamName hidden-xs">{{awayTeam}}</h3>
		</div>

		{{#unless isPreGame}}
			<div class="predictions">
				<div class="col-md-6 col-sm-6 col-xs-6 prediction">
					<span class="homeScore">{{getPredictionHomeScore}}</span>
					<span class="username">{{getUsername}}</span>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-6 prediction">
					<span class="awayScore">{{getPredictionAwayScore}}</span>
					{{#if isFinal}}
						{{#if madePrediction}}
							<span class="predictionPoints">{{getPredictionPoints}} points</span>
						{{else}}
							<span class="predictionNone">No points</span>
						{{/if}}
					{{/if}}
				</div>
			</div>
			<div class="poulePredictions">
				{{#each getPredictions}}
					<div class="predictions">
						<div class="col-md-6 col-sm-6 col-xs-6 prediction">
							<span class="homeScore">{{homeScore}}</span>
							<span class="username">{{username}}</span>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6 prediction">
							<span class="awayScore">{{awayScore}}</span>
							{{#if isFinal ..}}
								{{#if homeScore}}
									<span class="predictionPoints">{{points}} points</span>
								{{else}}
									<span class="predictionNone">No points</span>
								{{/if}}
							{{/if}}
						</div>
					</div>
				{{/each}}
			</div>
		{{/unless}}
	</div>
</template>